{{> header}}

<form action="del" method="post" style="text-align: center">
    <button class="btn btn-primary" type="submit" name="del" value="del">Delete All</button>
</form>
<br/>
<div class="col-md-12">
    <table class="table table-list-search" width="100%">
        <thead>
        <tr>
            <th>City Name</th>
            <th>Country Code</th>
            <th>Timezone</th>
            <th>Weather</th>
            <th>Air Condition</th>
            <th>Temperature &#176;C</th>
        </tr>
        </thead>
        <tbody>
        {{#list items}}
            <tr>
                <td>{{cityName}}</td>
                <td>{{countryCode}}</td>
                <td>{{timezone}}</td>
                <td>{{weather}}</td>
                <td>{{temperature}}</td>
                <td>{{aqi}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
</div>
<div style="margin-bottom:35.5%"></div>
{{> footer}}